nav{
    background-color: rgb(19, 18, 18);
    color:beige;
    height: 119.25px;
    width:100%;
    font-family: 'Fjalla One', sans-serif;
	text-align:right;
    display: flex; 
    justify-content:flex-end;
    
}
nav h1{
    margin-left: 20px;
    font-family: Futura, sans-serif;
	font-size: 66px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 24px;
	text-decoration: none solid rgb(61, 66, 70);
	text-transform: uppercase;
	
	word-spacing: 0px;
}
nav ul{
    display:flex;
    text-align:end; 
    /* justify-content:flex-end;
    align-content:flex-end; */
    margin-left: 600px;
}

nav ul li a{
    color:azure;
    font-size: x-large;
    /* display: flex;
    justify-content:flex-end; */
    text-align:end;
    margin: 30px; 
    text-decoration: none; 
}
.overlay{
    font-size: Futura, sans-serif; 
    line-height: 74px;
    position: absolute;
    margin-top: -500px;
    font-size: 30px;
    
}
.overlay ul li a {
    color: yellow;
    text-decoration: none;
}
.overlay a:hover{
    color: grey;
}
footer{
    background-color: black;
    height: 70px;
   padding-left: 80px;
   padding-top: 20px;
    color: aliceblue;
}
	